<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <h1>Mùa đông không lạnh</h1>
    <a href="{{ url_for('search', g=0) }}">Click vào em đi</a>
    <br>
    <br>
    <a href="{{ url_for('search', g=1) }}">Click vào anh đi</a>
    <br>
    <a href="{{ url_for('customer', g=1, s=1) }}">top 10 pilot</a>
    <br>
    <a href="{{ url_for('customer', g=0, s=1) }}">top 10 plane</a>
</body>
</html>