<div class="h-700px bg-night">
    <h1 class="text-center pt-5 text-uppercase text-white ">khách hàng bình chọn</h1>
    <div class="container mt-50px pt-3">
        <div class="d-flex justify-content-between mb-5">
            <div class="bg-leaf h-200px w-200px border border-white"></div>
            <div class="bg-flower h-200px w-200px border border-white"></div>
            <div class="bg-water h-200px w-200px border border-white"></div>
            <div class="bg-ice h-200px w-200px border border-white"></div>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <div class="bg-steel h-200px w-200px border border-white"></div>
            <div class="bg-rock h-200px w-200px border border-white"></div>
            <div class="bg-wood h-200px w-200px border border-white"></div>
            <div class="bg-lightning h-200px w-200px border border-white"></div>
        </div>
    </div>
</div>