<div class="h-650px">
    <h1 class="text-center pt-5 ">Các gói dịch vụ</h1>
    
    <div class="d-flex justify-content-around mt-50px">
        <div class=" col-md-3 h-400px p-0">
            <div class="h-50px col-md-12 bg-c ">
                <h2 class="text-white">Gói cơ bản</h2>
            </div>
            <div class="h-300px col-md-12 bg-white border pt-3">
                <h6>Dẫn bạn về ra mắt</h6>
                <h6 class="pt-2">Ăn cơm cùng gia đình</h6>
                <h6 class="pt-2 text-muted">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</h6>
                <h6 class="pt-2 text-muted">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
            </div>
            <div class="h-50px col-md-12 bg-light border d-flex justify-content-end">
                <button class="btn btn-dark">
                    <i class="fas fa-heart mr-2"></i> 
                    Tìm hiểu thêm
                </button>
            </div>
        </div>
        <div class=" col-md-3 h-400px p-0">
            <div class="h-50px col-md-12 bg-secondary ">
                <h2 class="text-white">Gói tiêu chuẩn</h2>
            </div>
            <div class="h-300px col-md-12 bg-white border pt-3">
                <h6>Dẫn bạn về ra mắt</h6>
                <h6 class="pt-2">Ăn cơm cùng gia đình</h6>
                <h6 class="pt-2">cho phép nắm tay hay tiếp xúc dưới bất kì hình thức nào</h6>
                <h6 class="pt-2 text-muted">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
            </div>
            <div class="h-50px col-md-12 bg-light border d-flex justify-content-end ">
                <button class="btn btn-dark"> 
                    <i class="fas fa-heart mr-2 "></i>
                    Tìm hiểu thêm
                </button>
            </div>
        </div>
        <div class=" col-md-3 h-400px p-0">
            <div class="h-50px col-md-12 bg-dark ">
                <h2 class="text-white">Gói cao cấp</h2>
            </div>
            <div class="h-300px col-md-12 bg-white border pt-3">
                <h6>Dẫn bạn về ra mắt</h6>
                <h6 class="pt-2">Ăn cơm cùng gia đình</h6>
                <h6 class="pt-2">cho phép nắm tay hay tiếp xúc dưới bất kì hình thức nào</h6>
                <h6 class="pt-2">Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</h6>
                <h6 class="pt-2 text-info">Và nhiều ưu đãi bất ngờ khác</h6>
            </div>
            <div class="h-50px col-md-12 bg-light border d-flex justify-content-end">
                <button class="btn btn-dark"> 
                    <i class="fas fa-heart mr-2"></i>
                    Tìm hiểu thêm
                </button>
            </div>
        </div>
    </div>
    
</div>