<div class=".bg-white col-md-12 h-400px">
    <h1 class="text-center mt-5 text-uppercase">chào mừng các bạn đến với mùa đông không lạnh</h1>
    <p class="text-center mt-5">"Chúng tôi ở đây là để giúp cho các bạn có một mối quan hệ tốt đẹp với gia đình và người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</p>
    <div class="container mt-50px">
        <div class="d-flex justify-content-between">
            <div class="col-md-5 h-200px bg-female">
                <p class="text-right text-white mt-90px mr-5 font-weight-bold">Bạn là Nam</p>
            </div>
            <div class="col-md-5 h-200px bg-male">
                <p class="text-left text-white mt-90px ml-5 font-weight-bold">Bạn là Nữ</p>
            </div>
        </div>
    </div>
</div>