<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADMIN</title>
</head>
<body>
    <h1>ADMIN</h1>
    <a href="{{ url_for('logout') }}">Dăng xuất</a>
    <form method="POST">
        <label>link</label>
        <input type="text" name="link">
        
        <input type="submit">
    </form>
    <br><br>
    <table border="1px">
        <thead>
            <th>#</th>
            <th>Title</th>
            <th>Views</th>
            <th>Link</th>
            <th>Thumbnail</th>
        </thead>
        <tbody>
            {% for video in videos  %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.views }}</td>
                <td>
                    <a href="{{ video.link }}" target="#">View</a>
                </td>
                <td>
                    <img src="{{ video.thumbnail }}" width="200" height="130">
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>