<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <h1>NEW SERVICE</h1>
    <form method="POST">
        <label>Name</label>
        <input type="text" name="name">
        <br>
        <label>Yob</label>
        <input type="text" name="yob">
        <br>
        <label>phone number</label>
        <input type="text" name="phone"> 
        <br>
        <input type="radio" name="gender" value=1> Male<br>
        <input type="radio" name="gender" value=0> Female<br>
        <br>
        <input type="submit" value="Thêm">
    </form>
</body>
</html>