<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>ĐĂNG KÝ</h1>
    <form method="POST">
        <label>Fullname</label>
        <input type="text" name="fullname" >
        <br>
        <label>Email</label>
        <input type="text" name="email">
        <br>
        <label>Username</label>
        <input type="text" name="username" > 
        <br>
        <label>Password</label>
        <input type="password" name = "password" >
        <br>
        <input type="submit">
    </form>
</body>
</html>