<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <h1>Thay đổi thông tin</h1>
    <form method="POST">
        <label>Name</label>
        <input type="text" name="name" value='{{ new_service.name }}'>
        <br>
        <label>Yob</label>
        <input type="text" name="yob" value='{{ new_service.yob }}'>
        <br>
        <label>phone number</label>
        <input type="text" name="phone" value='{{ new_service.phone }}'> 
        <br>
        <label>Height</label>
        <input type="text" name = "height" value='{{ new_service.height }}'>
        <br>
        <label>Address</label>
        <input type="text" name = "address" size="50" value='{{ new_service.address }}'>
        <br>
        <input type="radio" name="gender" value=1> Male<br>
        <input type="radio" name="gender" value=0> Female<br>
        <br>
        <input type="submit" value="Sửa">
    </form>
</body>
</html>