.bg-grey{
    background-color: lightgray;
}

.bg-green{
    background-color: lightgreen;
}

.w-100px{
    width: 100px;
}

.h-100px{
    height: 100px;
}

.m-10px{
    margin: 10px;
}

#flex-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 500px;
}
